/* screen - instafamous */

.instafamous {
  background-color: var(--cerulean);
  height: 3558.66px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.instafamous .innovative-crea-agram-followers-2iJO9q {
  background-color: transparent;
  height: 40px;
  left: 1106px;
  letter-spacing: 0.00px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 1617px;
  width: 538px;
}

.instafamous .audience-2iJO9q {
  background-color: transparent;
  height: auto;
  left: 1303px;
  letter-spacing: 0.00px;
  line-height: 39px;
  position: absolute;
  text-align: left;
  top: 1547px;
  white-space: nowrap;
  width: auto;
}

.instafamous .the-concept-is-ticing-and-up-b-2iJO9q {
  background-color: transparent;
  height: 146px;
  left: 278px;
  letter-spacing: 0.00px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 1617px;
  width: 538px;
}

.instafamous .the-solution-2iJO9q {
  background-color: transparent;
  height: auto;
  left: 448px;
  letter-spacing: 0.00px;
  line-height: 39px;
  position: absolute;
  text-align: left;
  top: 1547px;
  white-space: nowrap;
  width: auto;
}

.instafamous .create-a-loopin-target-audience-2iJO9q {
  background-color: transparent;
  height: 73px;
  left: 1106px;
  letter-spacing: 0.00px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 1264px;
  width: 538px;
}

.instafamous .the-brief-2iJO9q {
  background-color: transparent;
  height: auto;
  left: 1303px;
  letter-spacing: 0.00px;
  line-height: 39px;
  position: absolute;
  text-align: left;
  top: 1194px;
  white-space: nowrap;
  width: auto;
}

.instafamous .in-a-world-soci-ewers-attention-2iJO9q {
  background-color: transparent;
  height: 222px;
  left: 278px;
  letter-spacing: 0.00px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 1264px;
  width: 538px;
}

.instafamous .the-issue-2iJO9q {
  background-color: transparent;
  height: auto;
  left: 472px;
  letter-spacing: 0.00px;
  line-height: 39px;
  position: absolute;
  text-align: left;
  top: 1194px;
  white-space: nowrap;
  width: auto;
}

.instafamous .group-766-2iJO9q {
  background-color: transparent;
  height: 916px;
  left: 140px;
  position: absolute;
  top: 0px;
  width: 1628px;
}

.instafamous .rectangle-378-BecsGx {
  background-color: var(--white);
  border-radius: 20px;
  height: 916px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1628px;
}

.instafamous .man2x-BecsGx {
  background-color: transparent;
  height: 160px;
  left: 774px;
  object-fit: cover;
  position: absolute;
  top: 378px;
  width: 91px;
}

.instafamous .group-816-2iJO9q {
  background-color: transparent;
  height: 47px;
  left: 1440px;
  position: absolute;
  top: 869px;
  width: 328px;
}

.instafamous .rectangle-527-MxID5v {
  background-color: var(--cerulean-2);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.instafamous .motion-graphics-ation-character-MxID5v {
  background-color: transparent;
  bottom: calc(45.83% - 11px);
  color: var(--white);
  font-family: var(--font-family-helveticaneue-condensedblack);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 900;
  height: 23px;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 42px);
}

.instafamous .group-817-2iJO9q {
  background-color: transparent;
  height: 36px;
  left: 278px;
  position: absolute;
  top: 3440px;
  width: 1366px;
}

.instafamous .previous-OtP8VR {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  height: calc(100.00% + 2px);
  left: 0px;
  line-height: 39px;
  position: absolute;
  text-align: center;
  top: -2px;
  white-space: nowrap;
  width: 106px;
}

.instafamous .next-OtP8VR {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  height: calc(100.00% + 2px);
  line-height: 39px;
  position: absolute;
  right: -2px;
  text-align: center;
  top: -2px;
  white-space: nowrap;
  width: 56px;
}

.instafamous .slide-holder-2iJO9q {
  background-color: var(--white);
  height: 1209px;
  left: 400px;
  position: absolute;
  top: 2074px;
  width: 1120px;
}
/* screen - instafamous-1024 */

.instafamous-1024 {
  background-color: var(--cerulean);
  height: 2072.95px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1024px;
}

.instafamous-1024 .innovative-crea-agram-followers-TiCTR2 {
  background-color: transparent;
  height: 22px;
  left: 592px;
  letter-spacing: 0.00px;
  line-height: 27px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 848px;
  white-space: nowrap;
  width: 284px;
}

.instafamous-1024 .audience-TiCTR2 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-din2014-bold);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 695px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 813px;
  white-space: nowrap;
  width: auto;
}

.instafamous-1024 .the-concept-is-ticing-and-up-b-TiCTR2 {
  background-color: transparent;
  height: 78px;
  left: 157px;
  letter-spacing: 0.00px;
  line-height: 27px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 848px;
  width: 284px;
}

.instafamous-1024 .the-solution-TiCTR2 {
  background-color: transparent;
  height: auto;
  left: 246px;
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 813px;
  white-space: nowrap;
  width: auto;
}

.instafamous-1024 .create-a-loopin-target-audience-TiCTR2 {
  background-color: transparent;
  height: 39px;
  left: 592px;
  letter-spacing: 0.00px;
  line-height: 27px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 662px;
  width: 284px;
}

.instafamous-1024 .the-brief-TiCTR2 {
  background-color: transparent;
  height: auto;
  left: 695px;
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 628px;
  white-space: nowrap;
  width: auto;
}

.instafamous-1024 .in-a-world-soci-ewers-attention-TiCTR2 {
  background-color: transparent;
  height: 118px;
  left: 156px;
  letter-spacing: 0.00px;
  line-height: 27px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 662px;
  width: 284px;
}

.instafamous-1024 .the-issue-TiCTR2 {
  background-color: transparent;
  height: auto;
  left: 258px;
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 628px;
  white-space: nowrap;
  width: auto;
}

.instafamous-1024 .group-766-TiCTR2 {
  background-color: transparent;
  height: 481px;
  left: 84px;
  position: absolute;
  top: 0px;
  width: 856px;
}

.instafamous-1024 .rectangle-378-43gTUo {
  background-color: var(--white);
  border-radius: 20px;
  height: 481px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 856px;
}

.instafamous-1024 .man2x-43gTUo {
  background-color: transparent;
  height: 84px;
  left: 407px;
  object-fit: cover;
  position: absolute;
  top: 199px;
  width: 48px;
}

.instafamous-1024 .group-816-TiCTR2 {
  background-color: transparent;
  height: 25px;
  left: 767px;
  position: absolute;
  top: 457px;
  width: 172px;
}

.instafamous-1024 .rectangle-527-pPwKim {
  background-color: var(--cerulean-2);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.instafamous-1024 .motion-graphics-ation-character-pPwKim {
  background-color: transparent;
  bottom: calc(46.23% - 6px);
  color: var(--white);
  font-family: var(--font-family-helveticaneue-condensedblack);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 900;
  height: 12px;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 136px;
}

.instafamous-1024 .group-817-TiCTR2 {
  background-color: transparent;
  height: 18px;
  left: 156px;
  position: absolute;
  top: 2033px;
  width: 719px;
}

.instafamous-1024 .previous-e0HaF6 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-din2014-bold);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 54px;
}

.instafamous-1024 .next-e0HaF6 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-din2014-bold);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  right: -2px;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 30px;
}

.instafamous-1024 .slide-holder-TiCTR2 {
  background-color: var(--white);
  height: 1028px;
  left: 36px;
  position: absolute;
  top: 971px;
  width: 951px;
}
/* screen - instafamous-1440 */

.instafamous-1440 {
  background-color: var(--cerulean);
  height: 2669.0px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.instafamous-1440 .innovative-crea-agram-followers-k7DBpf {
  background-color: transparent;
  height: 30px;
  left: 834px;
  letter-spacing: 0.00px;
  line-height: 27px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 1206px;
  white-space: nowrap;
  width: 402px;
}

.instafamous-1440 .audience-k7DBpf {
  background-color: transparent;
  height: auto;
  left: 981px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 1154px;
  white-space: nowrap;
  width: auto;
}

.instafamous-1440 .the-concept-is-ticing-and-up-b-k7DBpf {
  background-color: transparent;
  height: 109px;
  left: 216px;
  letter-spacing: 0.00px;
  line-height: 27px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 1206px;
  width: 402px;
}

.instafamous-1440 .the-solution-k7DBpf {
  background-color: transparent;
  height: auto;
  left: 343px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 1154px;
  white-space: nowrap;
  width: auto;
}

.instafamous-1440 .create-a-loopin-target-audience-k7DBpf {
  background-color: transparent;
  height: 55px;
  left: 834px;
  letter-spacing: 0.00px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 942px;
  width: 402px;
}

.instafamous-1440 .the-brief-k7DBpf {
  background-color: transparent;
  height: auto;
  left: 981px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 891px;
  white-space: nowrap;
  width: auto;
}

.instafamous-1440 .in-a-world-soci-ewers-attention-k7DBpf {
  background-color: transparent;
  height: 166px;
  left: 216px;
  letter-spacing: 0.00px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 942px;
  width: 402px;
}

.instafamous-1440 .the-issue-k7DBpf {
  background-color: transparent;
  height: auto;
  left: 361px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 891px;
  white-space: nowrap;
  width: auto;
}

.instafamous-1440 .group-766-k7DBpf {
  background-color: transparent;
  height: 683px;
  left: 113px;
  position: absolute;
  top: 0px;
  width: 1215px;
}

.instafamous-1440 .rectangle-378-0AHMVM {
  background-color: var(--white);
  border-radius: 20px;
  height: 683px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1215px;
}

.instafamous-1440 .man2x-0AHMVM {
  background-color: transparent;
  height: 119px;
  left: 578px;
  object-fit: cover;
  position: absolute;
  top: 282px;
  width: 68px;
}

.instafamous-1440 .group-816-k7DBpf {
  background-color: transparent;
  height: 35px;
  left: 1083px;
  position: absolute;
  top: 649px;
  width: 245px;
}

.instafamous-1440 .rectangle-527-53caLq {
  background-color: var(--cerulean-2);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.instafamous-1440 .motion-graphics-ation-character-53caLq {
  background-color: transparent;
  bottom: calc(46.33% - 8px);
  color: var(--white);
  font-family: var(--font-family-helveticaneue-condensedblack);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 900;
  height: 17px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 42px);
}

.instafamous-1440 .group-817-k7DBpf {
  background-color: transparent;
  height: 27px;
  left: 216px;
  position: absolute;
  top: 2568px;
  width: 1020px;
}

.instafamous-1440 .previous-SHZ0QW {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-din2014-bold);
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 80px;
}

.instafamous-1440 .next-SHZ0QW {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-din2014-bold);
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  right: -2px;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 42px;
}

.instafamous-1440 .slide-holder-k7DBpf {
  background-color: var(--white);
  height: 902px;
  left: 307px;
  position: absolute;
  top: 1548px;
  width: 836px;
}
@media screen and (max-width: 1439px) {
  .screen.instafamous { 
    display: none;
   }
  .screen.instafamous-1440 { 
    display: none;
   }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .screen.instafamous { 
    display: none;
   }
  .screen.instafamous-1024 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.instafamous-1440 { 
    display: none;
   }
  .screen.instafamous-1024 { 
    display: none;
   }
}