:root { 
  --black: #000000;
  --black-2: #010101;
  --cape-cod: #404040;
  --dove-gray: #707070;
  --gray: #808080;
  --mine-shaft: #333333;
  --silver: #bfbfbf;
  --storm-dust: #606161;
  --white: #ffffff;
 
  --font-size-l: 44px;
  --font-size-m: 24px;
  --font-size-s: 18px;
  --font-size-xs: 17px;
  --font-size-xxs: 16px;
  --font-size-xxxs: 12px;
  --font-size-xxxxs: 10px;
 
  --font-family-aeonik-black: "Aeonik-Black", Helvetica;
  --font-family-aeonik-bold: "Aeonik-Bold", Helvetica;
  --font-family-aeonik-medium: "Aeonik-Medium", Helvetica;
  --font-family-aeonik-regular: "Aeonik-Regular", Helvetica;
  --font-family-din2014-bold: "DIN2014-Bold", Helvetica;
  --font-family-din2014-bolditalic: "DIN2014-BoldItalic", Helvetica;
  --font-family-din2014-italic: "DIN2014-Italic", Helvetica;
  --font-family-din2014-regular: "DIN2014-Regular", Helvetica;
  --font-family-din_2014: "DIN 2014", Helvetica;
}
.din2014-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-din2014-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}


.din2014-regular-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-din2014-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.din2014-regular-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-din2014-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.aeonik-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-aeonik-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.din2014-bold-white-17px {
  color: var(--white);
  font-family: var(--font-family-din2014-bold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.aeonik-bold-black-26px {
  color: var(--black-2);
  font-family: var(--font-family-aeonik-bold);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
}

.din2014-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-din_2014);
  font-size: var(--font-size-m);
}

.din2014-italic-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-din2014-italic);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 400;
}

.din2014-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-din2014-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.din2014-bold-white-15px {
  color: var(--white);
  font-family: var(--font-family-din2014-bold);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

.din2014-regular-normal-white-12px {
  color: var(--white);
  font-family: var(--font-family-din2014-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.din2014-bold-white-22px {
  color: var(--white);
  font-family: var(--font-family-din2014-bold);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}

.din2014-bold-mine-shaft-63px {
  color: var(--mine-shaft);
  font-family: var(--font-family-din2014-bold);
  font-size: 63px;
  font-style: normal;
  font-weight: 700;
}

.din2014-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-din2014-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.din2014-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-din2014-bold);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
}

.aeonik-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-aeonik-bold);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 700;
}

.din2014-regular-normal-mine-shaft-18px {
  color: var(--mine-shaft);
  font-family: var(--font-family-din2014-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.din2014-bold-mine-shaft-64px {
  color: var(--mine-shaft);
  font-family: var(--font-family-din2014-bold);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}

.aeonik-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-aeonik-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.aeonik-black-white-30px {
  color: var(--white);
  font-family: var(--font-family-aeonik-black);
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
}

.aeonik-bold-white-32px {
  color: var(--white);
  font-family: var(--font-family-aeonik-bold);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.aeonik-medium-white-32px {
  color: var(--white);
  font-family: var(--font-family-aeonik-medium);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}

.aeonik-regular-normal-white-31px {
  color: var(--white);
  font-family: var(--font-family-aeonik-regular);
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
}

.din2014-bolditalic-bold-white-44px {
  color: var(--white);
  font-family: var(--font-family-din2014-bolditalic);
  font-size: var(--font-size-l);
  font-style: italic;
  font-weight: 700;
}

.din2014-normal-white-17px {
  color: var(--white);
  font-family: var(--font-family-din_2014);
  font-size: var(--font-size-xs);
}

.din2014-italic-normal-white-17px {
  color: var(--white);
  font-family: var(--font-family-din2014-italic);
  font-size: var(--font-size-xs);
  font-style: italic;
  font-weight: 400;
}

.aeonik-bold-black-18px {
  color: var(--black-2);
  font-family: var(--font-family-aeonik-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.border-4px-white {
  border: 4px solid var(--white);
}

.border-4px-mine-shaft {
  border: 4px solid var(--mine-shaft);
}

.border-6px-black {
  border: 6px solid var(--black);
}

.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}

model-viewer#interaction {
  --poster-color: transparent;
}